<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wish List</title>
  </head>
  <body>
    {{{body}}}
  </body>
  <script type="text/javascript" src="routes/index.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
