<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Deseo &mdash; Help your friends understand you better</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Facebook and Twitter integration -->
  	<meta property="og:title" content=""/>
  	<meta property="og:image" content=""/>
  	<meta property="og:url" content=""/>
  	<meta property="og:site_name" content=""/>
  	<meta property="og:description" content=""/>
  	<meta name="twitter:title" content="" />
  	<meta name="twitter:image" content="" />
  	<meta name="twitter:url" content="" />
  	<meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  	<link rel="shortcut icon" href="favicon.ico">

  	<!-- Google Webfonts -->
  	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
  	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  	<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Rouge+Script" rel="stylesheet">

  	<!-- Animate.css -->
  	<link rel="stylesheet" href="/css/animate.css">
  	<!-- Icomoon Icon Fonts-->
  	<link rel="stylesheet" href="/css/icomoon.css">
  	<!-- Magnific Popup -->
  	<link rel="stylesheet" href="/css/magnific-popup.css">
  	<!-- Salvattore -->
  	<link rel="stylesheet" href="/css/salvattore.css">
  	<!-- Theme Style -->
  	<link rel="stylesheet" href="/css/style.css">
  	<!-- Modernizr JS -->


  </head>
  <body>
    {{{body}}}

  <script type="text/javascript" src="routes/index.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/modernizr-2.6.2.min.js"></script>
    </body>
</html>
