<form action="/login">
  <!-- <button type="submit" id="loginButton">login with facebook</button> -->
  <button type="submit" id="loginButton" class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></button>
</form>
